

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(240, 147, 8), rgb(250, 194, 111));
   

}
div{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
  
}
    

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
button{
    background-color: rgb(179, 124, 23);
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
   
}
button:hover{
    background-color: rgb(248, 191, 3);
    cursor: pointer;
 
}
.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background-image: url("logoo.png"); 
    background-size: cover;
}