/* Resetando margens e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 400px;
}

#nav_logo1 {
    font-size: 24px;
    width: 100px;
    height: auto;
    color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo dos links de navegação */
nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s ease;
    /* Transição suave no hover */
}

nav li a:hover {
    background-color: #f8d477;
}

.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #fff9ea;
    border-radius: 10px;
    padding: 10px 0;
}

.dropdown-menu a {
    display: block;
    color: black;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* Estilo para o botão de menu no mobile */
#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    /* Escondendo links e botões no mobile */
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
        /* Transição suave */
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    /* Melhorando a responsividade do logo */
    #nav_logo1 {
        font-size: 20px;
        /* Ajuste do tamanho do logo */
    }
}